<div class="dialog-wrapper">
    <div mat-dialog-title>
        <span>
            <ng-content select="title"></ng-content>   
        </span>

        <span class="right">

            <button mat-icon-button aria-label="Close"
                    [mat-dialog-close]="false">
                    <mat-icon>close</mat-icon>
            </button>
        </span>
    </div>
    <div mat-dialog-content>
        <ng-content select="content"></ng-content>
    </div>


    <div class="spacer"></div>
    <div mat-dialog-actions [align]="'end'">
        <ng-content select="footer"></ng-content>
    </div>
</div>