<div class="wrapper">

  <div class="column">
    <div class="name-row">
      <app-text-input [(ngModel)]="character.name" label="Name" *ngIf="applicationMode.shouldDisplay(character.name)"></app-text-input>
      <p *ngIf="!applicationMode.shouldDisplay(character.name)">Unnamed character</p>
      <button mat-icon-button (click)="applicationMode.toggle()">
        <mat-icon>{{applicationMode.mode === 'play' ? 'edit' : 'games'}}</mat-icon>
      </button>
    </div>
    <app-text-input [(ngModel)]="character.concept" label="Concept" *ngIf="applicationMode.shouldDisplay(character.concept)"></app-text-input>
    <div class="row">
      <app-text-input [(ngModel)]="character.crewName" label="Crew Name" *ngIf="applicationMode.shouldDisplay(character.crewName)"></app-text-input>
      <app-text-input [(ngModel)]="character.cause" label="Cause" *ngIf="applicationMode.shouldDisplay(character.cause)"></app-text-input>
      <app-text-input [(ngModel)]="character.target" label="Target" *ngIf="applicationMode.shouldDisplay(character.target)"></app-text-input>
      <app-text-input [(ngModel)]="character.method" label="Method" *ngIf="applicationMode.shouldDisplay(character.method)"></app-text-input>
      
    </div>
    <div class="row">
      <app-text-input [(ngModel)]="character.race" label="Race" *ngIf="applicationMode.shouldDisplay(character.race)"></app-text-input>
      <app-text-input [(ngModel)]="character.gender" label="Sex" *ngIf="applicationMode.shouldDisplay(character.gender)"></app-text-input>
      <app-text-input class="small-input" [(ngModel)]="character.age" label="Age (years)" type="number" *ngIf="applicationMode.shouldDisplay(character.age)"></app-text-input>
      <app-text-input class="small-input" [(ngModel)]="character.height" label="Height (cm)" type="number" *ngIf="applicationMode.shouldDisplay(character.height)"></app-text-input>
      <app-text-input class="small-input" [(ngModel)]="character.weight" label="Weight (kg)" type="number" *ngIf="applicationMode.shouldDisplay(character.weight)"></app-text-input>
    </div>
  </div>

  <div class="row">
    <div class="column three-column">
      <app-section-header>Attributes</app-section-header>
      <app-attribute-pool [(ngModel)]="character.physique"></app-attribute-pool>
      <app-attribute-pool [(ngModel)]="character.charm"></app-attribute-pool>
      <app-attribute-pool [(ngModel)]="character.wits"></app-attribute-pool>

    </div>
    <div class="column three-column">
      <app-section-header>Standing</app-section-header>
      <app-attribute-pool [(ngModel)]="character.resources"></app-attribute-pool>
      <app-attribute-pool [(ngModel)]="character.influence"></app-attribute-pool>
      <app-attribute-pool [(ngModel)]="character.spirit"></app-attribute-pool>
    </div>
    <div class="column three-column">
      <app-section-header>Resilience</app-section-header>
      <app-attribute-pool [(ngModel)]="character.health"></app-attribute-pool>
      <app-attribute-pool [(ngModel)]="character.reputation"></app-attribute-pool>
      <app-attribute-pool [(ngModel)]="character.willpower"></app-attribute-pool>
    </div>
  </div>

  <app-section-header (action)="addTrait()" [actionEnabled]="true" *ngIf="applicationMode.shouldDisplay(character.traitsAndBurdens)">Traits & Burdens</app-section-header>
  <table mat-table [dataSource]="character.traitsAndBurdens" class="grid-thingy" *ngIf="applicationMode.shouldDisplay(character.traitsAndBurdens)">
    <ng-container matColumnDef="trait">
      <th mat-header-cell *matHeaderCellDef>
        {{character.traitsAndBurdens.length ? character.traitsAndBurdens.length + ' traits': 'No taits yet'}}
      </th>
      <td mat-cell *matCellDef="let element"> <strong *ngIf="element.title">{{element.title}}:</strong> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="action-column"></th>
      <td mat-cell *matCellDef="let element" class="action-column">
        <button mat-icon-button (click)="editTrait(element)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="deleteTrait(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="['trait', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['trait', 'actions'];"></tr>
  </table>
  

  <app-section-header *ngIf="applicationMode.shouldDisplay(character.tragedy)">Tragedy</app-section-header>
  <app-text-area [(ngModel)]="character.tragedy" *ngIf="applicationMode.shouldDisplay(character.tragedy)"></app-text-area>

  <app-section-header *ngIf="applicationMode.shouldDisplay(character.destiny)">Destiny</app-section-header>
  <app-text-area [(ngModel)]="character.destiny" *ngIf="applicationMode.shouldDisplay(character.destiny)"></app-text-area>


  <app-section-header *ngIf="applicationMode.shouldDisplay(character.knownSecrets)">Secrets Known</app-section-header>
  <app-text-area [(ngModel)]="character.knownSecrets" *ngIf="applicationMode.shouldDisplay(character.knownSecrets)"></app-text-area>


  <app-section-header>Advancements</app-section-header>
  <mat-slider
        class="advancements always-show-slider-thumb"
        thumbLabel
        color="primary"
        tickInterval="1"
        step="1"
        min="0"
        max="20"
        [(ngModel)]="character.advancements"
        aria-label="advancements"></mat-slider>

  <app-section-header (action)="addPower()" [actionEnabled]="true"  *ngIf="applicationMode.shouldDisplay(character.powers)">Powers</app-section-header>
  <table mat-table [dataSource]="character.powers" class="grid-thingy" *ngIf="applicationMode.shouldDisplay(character.powers)">
    <ng-container matColumnDef="power">
      <th mat-header-cell *matHeaderCellDef>Power</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let element">{{element.rating}}</td>
    </ng-container>
  
    <ng-container matColumnDef="charges">
      <th mat-header-cell *matHeaderCellDef>Charges</th>
      <td mat-cell *matCellDef="let element"> {{element.charges}} </td>
    </ng-container>

    <ng-container matColumnDef="stunts">
      <th mat-header-cell *matHeaderCellDef>Stunts</th>
      <td mat-cell *matCellDef="let element"> {{element.stunts}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="action-column"></th>
      <td mat-cell *matCellDef="let element" class="action-column">
        <button mat-icon-button (click)="editPower(element)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="deletePower(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['power', 'type', 'rating', 'charges', 'stunts', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['power', 'type', 'rating', 'charges', 'stunts', 'actions'];"></tr>
  </table>
  

  <app-section-header (action)="addEquipent()" [actionEnabled]="true" *ngIf="applicationMode.shouldDisplay(character.equipment)">Equipment</app-section-header>
  <table mat-table [dataSource]="character.equipment" class="grid-thingy" *ngIf="applicationMode.shouldDisplay(character.equipment)">
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>Item</th>
      <td mat-cell *matCellDef="let element">{{element.item}}</td>
    </ng-container>

    <ng-container matColumnDef="rules">
      <th mat-header-cell *matHeaderCellDef>Rules</th>
      <td mat-cell *matCellDef="let element">{{element.rules}}</td>
    </ng-container>
  

    <ng-container matColumnDef="prop">
      <th mat-header-cell *matHeaderCellDef>Prop</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.prop" color="primary" disabled></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="action-column"></th>
      <td mat-cell *matCellDef="let element" class="action-column">
        <button mat-icon-button (click)="editEquipment(element)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="deleteEquipment(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="['item', 'rules', 'prop', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['item', 'rules', 'prop', 'actions'];"></tr>
  </table>

</div>

